$color0:#1bbc9b;
$color1:#fff;
$color2:#323232;
$color3:#ff4622;
$color4:#898989;
$color5:#666;
$color6:#e8412b;
$color7:#f55731;
$color8:#50bd42;
$color9:#0699e1;
$color10:#d8aa5e;
$color11:#fd622e;
$color12:#141b73;

.color0 {
    color: $color0!important;
}
.color1 {
    color: $color1!important;
}
.color2 {
    color: $color2!important;
}
.color3 {
    color: $color3!important;
}
.color4 {
    color: $color4!important;
}
.color5 {
    color: $color5!important;
}
.color6 {
    color: $color6!important;
}
.color7 {
    color: $color7!important;
}
.color8 {
    color: $color8!important;
}
.color9 {
    color: $color9!important;
}
.color10 {
    color: $color10!important;
}
.color11 {
    color: $color11!important;
}
.color12 {
    color: $color12!important;
}
.bg-none{
    background:none;
}
.bg-alpha{
    background-color: rgba(0,0,0,.6);
}
.bg-alpha8{
    background-color: rgba(0,0,0,.8);
}
.bg-default {
    background: #f2f2f2;
}
.bg-main{
    background-color: #eb5436!important;
}
.bg-white{
    background-color: #fff!important;
}
.bg-grey{
    background-color: #f4f4f4!important;
}
.bg-gray{
    background-color: #999!important;
}
.bg-red{
    background-color: red!important;
}
.bg-warn{
    background-color: #f2a715!important;
}
.bg-yellow{
    background-color: #eecd60!important
}
.bg-deepyellow{
    background-color: #dcbc83!important;
}
.bg-deepblue{
    background-color:#2c3242!important;
}
.bg-pink{
    background-color:#ffefef!important;
}
.bg-ddd{
    background-color:#ddd!important;
}

